a{
  text-decoration: none;
  color: black;
}

.app-wrapper{
  max-width: 2000px;
  max-height: 2000px;
  display: grid;
  background-color: rgb(171, 15, 15);
  grid-template-rows: 50px 1fr ;
  grid-template-columns: 2fr 10fr ;
  gap: 10px;
  grid-template-areas: 
  "h h "
  "n c ";
  margin: 0 auto;
  padding: 0 5px;
}








