a{
  text-decoration: none;
  color: black;
}

a:active{
  color :gold;
}
.app-wrapper{
  width: 100%;
  max-width: 1500px;
  max-height: 1500px;
  display: grid;
  background-color: rgb(171, 15, 15);
  grid-template-rows: 50px 1fr ;
  grid-template-columns: 2fr 10fr ;
  gap: 10px;
  grid-template-areas: 
  "h h "
  "n c ";
  margin: 0 auto;
}

.app_wrapper_content{
  grid-area: c;
  background-color: blue;
  margin: 0 auto;
  width: 99%;
  }








